@import "tailwindcss";

:root {
  --background: #3d3d3d;
  --foreground: #EADBD0;
  --gray: #666576;
  --ltgreen: #BDC390;
  --dkgreen: #3A4947;
  --brown: #3F3221;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Courier New', Courier, monospace;
  font-size: 10px;
}

.grid button {
    background: var(--background);
    border: var(--gray);
    font-size: 1.2em;
    padding: 5px;
}

.grid button.selected, .grid button:focus {
    background: var(--ltgreen);
    color: var(--dkgreen);
}

.grid button:hover {
    background: var(--gray);
}

.text-button {
  background: none;
  font-weight: bold;
  font-size: 1.2em;
}