@import "tailwindcss";

:root {
  --background: #3d3d3d;
  --foreground: #EADBD0;
  --accent-gray: #666576;
  --accent-green: #BDC390;
  --accent-dkgreen: #3A4947;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Courier New', Courier, monospace;
  font-size: 10px;
}
